
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test6</title>
</head>
<body>
    <h1>Test</h1>
    <p>Henter personer ved at klikke på knap.</p>
    <button id="minKnap">Hent personer</button>

    <ul id="minListe"></ul>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/Script/test6.js"></script>



</body>
</html>
