
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test12</title>
</head>
<body>
    <form action="/Home/Test12" method="post">

        <input type="text" name="id" />
        <input type="text" name="navn" />
        <input type="number" name="alder" />
        <input type="submit" name="btn" value="send data" />

    </form>


</body>
</html>
