
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test11</title>
</head>
<body>
    <div> 
    </div>
    <a href="/Home/Test11?id=1&navn="dasældæas""&alder=30">Link</a>"
</body>
</html>
