
@model ControlDemo.Controllers.Test9ViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test9</title>
</head>
<body>
    <div>id: @Model.id</div>
    <div>streng: @Model.Streng</div>
</body>
</html>
